{% extends 'MobileCartFrontendBundle::base.html.twig' %}

{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('bundles/mobilecartfrontend/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/mobilecartfrontend/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/mobilecartfrontend/css/styles.css') }}" rel="stylesheet">

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        window.App = {};
        App.collections = {};
        App.models = {};
        App.views = {};
        App.serverURL = '{{ path('_home') }}';
    </script>

    <script src="{{ asset('bundles/mobilecartfrontend/js/json2.js') }}"></script>
    <script src="{{ asset('bundles/mobilecartfrontend/js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('bundles/mobilecartfrontend/js/underscore.js') }}"></script>
    <script src="{{ asset('bundles/mobilecartfrontend/js/bootstrap.min.js') }}"></script>

    <!-- add your own js here to further populate App -->

{% endblock %}

{% block body %}

{% block topnav %}

<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="header-links">

                {% block navigation %}
                <div class="collapse navbar-collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('cart_home') }}">Home</a></li>
                        <li><a href="{{ path('cart_products') }}">Products</a></li>
                        <li><a href="{{ path('cart_categories') }}">Categories</a></li>
                        <li class="dropdown header-cart">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="glyphicon glyphicon-shopping-cart icon-white"> </i>
                                <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu cart-dropdown">
                                {% for total in cartTotals() %}
                                <div class="row">
                                    <div class="col-xs-6">{{ total.label }}</div>
                                    <div class="col-xs-6">{{ decorate(total.value) }}</div>
                                </div>
                                {% endfor %}

                                {% for item in cartItems() %}
                                <div class="row">
                                    <div class="col-xs-8">
                                        <a href="{{ path('cart_product_view', { 'slug': item.get('slug') }) }}">{{ item.get('name') }}</a>
                                    </div>
                                    <div class="col-xs-4">{{ item.get('qty') }} x {{ decorate(item.get('price')) }}</div>
                                </div>
                                {% endfor %}

                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="{{ path('cart_view') }}" class="btn btn-default">View Cart</a>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <a href="{{ path('cart_checkout') }}" class="btn btn-success">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ currencySymbol() }} <b class="caret"></b></a>
                            <ul class="pull-right dropdown-menu">
                                <li><a href="{{ path('cart_currency', {'code':'EUR'}) }}">€</a></li>
                                <li><a href="{{ path('cart_currency', {'code':'USD'}) }}">$</a></li>
                            </ul>
                        </li>
                        <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ENG <b class="caret"></b></a>
                            <ul class="pull-right dropdown-menu">
                                <li><a href="#" tabindex="-1">English</a></li>
                                <li><a href="#" tabindex="-1">French</a></li>
                            </ul>
                        </li>
                        -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"> </i> <b class="caret"></b></a>
                            <ul class="pull-right dropdown-menu">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('cart_admin_dashboard') }}">Admin Panel</a></li>
                                    <li><a href="{{ path('logout') }}">Logout</a></li>
                                {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="{{ path('customer_profile') }}">Profile</a></li>
                                    <li><a href="{{ path('logout') }}">Logout</a></li>
                                {% else %}
                                    <li><a href="{{ path('login_route') }}">Login</a></li>
                                    <li><a href="{{ path('customer_register') }}">Register</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</header>

{% endblock %}
{% block alerts %}

    <div class="container">
        <div class="row alerts">

            {% for state in ['info', 'warning', 'success', 'danger'] %}
                {% for flashMessages in app.session.flashbag.get(state) %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ state }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content_wrapper %}
    {% block content %}

    {% endblock %}
{% endblock %}

{% block footer %}

    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company Name</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% endblock %}
