{% if result.facetFilters is defined and not isSpaEnabled() %}
    {% for facet in result.facetFilters %}
        <li>
            {% if facet.remove_url is defined and facet.remove_url|length > 0 %}
                <a href="{{ facet.remove_url }}">
                    <i class="fa fa-times"></i>
                    {{ facet.label }} : {{ facet.term }}
                    {% if facet.count > 0 %} <span class="badge pull-right">{{ facet.count }}</span>{% endif %}
                </a>
            {% endif %}
        </li>
    {% endfor %}
{% endif %}

<li>
    <a href="#" rel="is_on_sale" class="search-filter-link">
        {% if app.request.get('is_on_sale') == 1 %}<i class="fa fa-times"></i>{% endif %}
        On Sale
    </a>
</li>

<li>
    <a href="#" rel="is_new" class="search-filter-link">
        {% if app.request.get('is_new') == 1 %}<i class="fa fa-times"></i>{% endif %}
        New
    </a>
</li>

{% if result.facetCounts is defined and not isSpaEnabled() %}
    {% for facet, facets in result.facetCounts %}
        {% if facets.terms %}
            <li class="">
                <a href="#">{{ facets.label }}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                {% for termCounts in facets.terms %}
                    <li>
                    {% if termCounts.remove_url is defined and termCounts.remove_url|length > 0 %}
                        <a href="{{ termCounts.remove_url }}">{{ termCounts.term }}
                            {% if termCounts.count > 0 %} <span class="badge pull-right">{{ termCounts.count }}</span>{% endif %}
                        </a>
                    {% else %}
                        <a href="{{ termCounts.url }}">{{ termCounts.term }}
                            {% if termCounts.count > 0 %} <span class="badge pull-right">{{ termCounts.count }}</span>{% endif %}
                        </a>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
