{% extends frontend() %}

{% block stylesheets %}
{{ parent() }}
    <link rel="canonical" href="{{ path('cart_product_view', { 'slug': entity.slug }) }}" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% include templatePath('Shared:js-productconfig.html.twig') %}
{% endblock %}

{% block content %}

<div class="container">

    {% include templatePath('Shared:header-bar.html.twig') %}

    <div class="row">
        <div class="col-xs-12">
            <h1>{{ entity.name }}</h1>
            <p><small>{{ entity.sku }}</small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="slide-image" src="{{ asset(imagePath('product', entity, 'list_grid', 1)) }}" alt="{{ entity.name }}" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 product type-{{ entity.type }}" data-config='{{ entity.config|raw }}'>
            <div class="price-box">
                <p class="price">{{ decorate(entity.price) }}</p>
            </div>
            <div class="add-to-cart">
                <form method="post" class="add-to-cart" action="{{ path('cart_add_item', {'product_id': entity.id}) }}">

                    {# Handle Configurable Product UI #}
                    {% if entity.type == 2 %}
                        {# this should be dynamically changed with javascript BEFORE the form is submitted #}
                        <input type="hidden" class="simple_id" name="simple_id" value="" />

                        {# product options, variants #}
                        {% if config_data.config_values is defined %}
                            {% include templatePath('Shared:html-productconfig-options.html.twig') with {'config_data': config_data} %}
                        {% endif %}

                    {% endif %}

                    <div class="row cart-buttons">
                        <div class="col-xs-6">
                            <label>Qty</label>
                            <input type="text" class="form-control" name="qty" value="1" />
                        </div>
                        <div class="col-xs-6 text-center">
                            {% if entity.getIsInStock() %}
                                <button type="submit" class="btn-lg btn-primary addtocart"><i class="fa fa-shopping-cart"> </i>&nbsp;Add to Cart</button>
                            {% elseif entity.canBackorder() %}
                                <button type="submit" class="btn btn-primary addtocart">Backorder</button>
                            {% else %}
                                <p>Currently Unavailable</p>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="product-tabs">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#general" data-toggle="tab" aria-expanded="true">General</a>
                    </li>
                    <li>
                        <a href="#misc" data-toggle="tab" aria-expanded="false">Misc</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="general" class="tab-pane fade active in">
                        <p>{{ entity.content|raw }}</p>
                    </div>
                    <div id="misc" class="tab-pane">
                        <ul>
                            <li>SKU: {{ entity.sku }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
