{% extends frontend() %}

{% block searchTerm %}{{ search.searchTerm }}{% endblock %}

{% block content %}

<div class="container">

    <form id="pager-form" action="{{ path('cart_categories') }}">
    {% include templatePath('Shared:header-bar.html.twig') %}

    <div class="row carousel-holder">
        <div class="col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="{{ asset('bundles/mobilecartfrontend/images/800x300.gif') }}" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="{{ asset('bundles/mobilecartfrontend/images/800x300.gif') }}" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="{{ asset('bundles/mobilecartfrontend/images/800x300.gif') }}" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-6">
                <button class="btn pull-left btn-default dropdown-toggle" type="button" id="sort-by-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Sort
                    {% for sortable in sortable('category') %}
                        {% if sortable.active %} By {{ sortable.label }}{% endif %}
                    {% endfor %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="sort-by-dropdown">
                    {% for sortable in sortable('category') %}
                        <li class="navbar-dropdown">
                            <a href="#" class="sort-by-input">
                                <input type="radio" name="sort" data-dir="{{ sortable.dir }}" class="sort-by" value="{{ sortable.value }}" {% if sortable.active %} checked="checked"{% endif %} />
                                {{ sortable.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6">

                <div class="pull-right btn-group input-group pager" role="group">

                    <button type="button" class="btn pull-left btn-default prev {% if search.page <= 1 %}disabled{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                    <input type="number" id="page" class="form-control number" name="{{ search.pageParam }}" value="{{ search.page }}" />
                    <button type="button" class="btn pull-right btn-default next {% if search.page >= result.pages %}disabled{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </div>

            </div>

            <input type="hidden" name="direction" id="sort-dir" value="{{ sortDir() }}" />
            {% for filterCode, filterValue in search.facetFilters %}
                <input type="hidden" name="{{ filterCode }}" value="{{ filterValue }}" />
            {% endfor %}

        </div>

    </form>
    <div class="row category-list">

    {% if result.entities is defined and not isSpaEnabled() %}
        {% for entity in result.entities %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <a href="{{ path('cart_category_products', { 'slug': entity.slug }) }}">
                        <img src="{{ asset(imagePath('category', entity, 'list_grid')) }}" alt="">
                    </a>

                    <div class="caption">
                        <h4><a href="{{ path('cart_category_products', { 'slug': entity.slug }) }}">{{ entity.name }}</a></h4>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <a href="{{ path('cart_categories', { 'parent_category_id': entity.id }) }}" class="btn btn-primary pull-left">Categories</a>
                            <a href="{{ path('cart_category_products', { 'slug': entity.slug }) }}" class="btn btn-primary pull-right">Products</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}

    </div><!-- /row -->

    <div class="row sorting-bottom pager-bottom">

    </div>

</div><!-- /container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if isSpaEnabled() %}

    <script src="{{ asset('bundles/mobilecartfrontend/js/spin.min.js') }}"></script>
    <script src="{{ asset('bundles/mobilecartfrontend/js/cart.js') }}"></script>

    <script type="text/javascript">
        $(function(){

            App.collections.paginatedItems = new App.collections.PaginatedCollection();
            // todo :
            App.collections.paginatedItems.url = App.serverURL + '/products';

            {% if search.categoryId > 0 %}
            App.collections.paginatedItems.queryParams['cat_id'] = {{ search.categoryId }};
            {% endif %}

            App.views.app = new App.views.AppView({collection: App.collections.paginatedItems});
            App.views.pagination = new App.views.PaginatedView({collection:App.collections.paginatedItems});
            //App.views.sorting = new App.views.SortedView({collection:App.collections.paginatedItems});
            App.collections.paginatedItems.fetch();

            App.collections.cartInfo = new App.collections.CartInfoCollection();
            App.collections.cartInfo.fetch();

            //Backbone.history.start({pushState: true});
        });
    </script>

    {% else %}

    <script type="text/javascript">
        $(function(){

            var pagerForm = $('#pager-form');
            var pageInput = $('input#page');
            var sortByInput = $('select#sort-by');
            var sortDirInput = $('input#sort-dir');

            // paginator previous
            $('button.prev').click(function(e){
                e.preventDefault();
                var el = $('input#page');
                var page = parseInt(el.val()) - 1;
                el.val(page);
                pagerForm.submit();
                return false;
            });

            // paginator next
            $('button.next').click(function(e){
                e.preventDefault();
                var page = parseInt(pageInput.val()) + 1;
                pageInput.val(page);
                pagerForm.submit();
                return false;
            });

            /*
            $('input.search-filter').click(function(e){
                pageInput.val(1);
                pagerForm.submit();
                return true;
            }); //*/

            $('button.search-submit').click(function(e){
                pageInput.val(1);
                pagerForm.submit();
                return true;
            });

            // sort dropdown
            sortByInput.change(function(e){
                e.preventDefault();
                var option = sortByInput.find(':selected');
                var sortDir = option.attr('data-dir');
                sortDirInput.val(sortDir);
                pagerForm.submit();
                return false;
            });

            // fulltext search-query
            $('input.search-query').keypress(function(e){
                // todo : auto search
                if (e.which == 13) {
                    pagerForm.submit();
                }
            });
        });
    </script>

    {% endif %}

{% endblock %}
