{% extends frontend() %}

{% block searchTerm %}{{ search.searchTerm }}{% endblock %}

{% block content %}

<div class="container">

    <form id="pager-form" action="{{ path('cart_categories') }}">
    {% include templatePath('Shared:header-bar.html.twig') %}

    <div class="row carousel-holder">
        <div class="col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="{{ asset('bundles/mobilecartfrontend/images/800x300.gif') }}" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="{{ asset('bundles/mobilecartfrontend/images/800x300.gif') }}" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="{{ asset('bundles/mobilecartfrontend/images/800x300.gif') }}" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-6">
                <button class="btn pull-left btn-default dropdown-toggle" type="button" id="sort-by-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Sort
                    {% for sortable in search.getAdvSortable() %}
                        {% if sortable.active %} By {{ sortable.label }}{% endif %}
                    {% endfor %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="sort-by-dropdown">
                    {% for sortable in search.getAdvSortable() %}
                        <li class="navbar-dropdown">
                            <a href="#" class="sort-by-input">
                                <input type="radio" name="sort" data-dir="{{ sortable.dir }}" class="sort-by" value="{{ sortable.value }}" {% if sortable.active %} checked="checked"{% endif %} />
                                {{ sortable.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6">

                <div class="pull-right btn-group input-group pager" role="group">

                    <button type="button" class="btn pull-left btn-default prev {% if search.page <= 1 %}disabled{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                    <input type="number" id="page" class="form-control number" name="{{ search.pageParam }}" value="{{ search.page }}" />
                    <button type="button" class="btn pull-right btn-default next {% if search.page >= result.pages %}disabled{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </div>

            </div>

            <input type="hidden" name="direction" id="sort-dir" value="{{ search.getSortDir() }}" />
            {% for filterCode, filterValue in search.facetFilters %}
                <input type="hidden" name="{{ filterCode }}" value="{{ filterValue }}" />
            {% endfor %}

        </div>

    </form>
    <div class="row category-list">

    {% if result.entities is defined and not isSpaEnabled() %}
        {% for entity in result.entities %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <a href="{{ path('cart_category_products', { 'slug': entity.slug }) }}">
                        <img src="{{ asset(imagePath('category', entity, 'list_grid')) }}" alt="">
                    </a>

                    <div class="caption">
                        <h4><a href="{{ path('cart_category_products', { 'slug': entity.slug }) }}">{{ entity.name }}</a></h4>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <a href="{{ path('cart_categories', { 'parent_category_id': entity.id }) }}" class="btn btn-primary pull-left">Categories</a>
                            <a href="{{ path('cart_category_products', { 'slug': entity.slug }) }}" class="btn btn-primary pull-right">Products</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% endif %}

    </div><!-- /row -->

</div><!-- /container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include templatePath('Shared:js-autocomplete.html.twig') %}
    <script type="text/javascript" src="{{ asset('bundles/mobilecartcore/js/config-product-addtocart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mobilecartfrontend/js/listing-pager.js') }}"></script>

{% endblock %}
