{% extends templatePath('Customer:dashboard.html.twig', 'frontend') %}
{% block main_content %}
<div class="col-sm-9 form-group">

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">{% block header_text %}Order# {{ order.referencenbr }}{% endblock %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 header-buttons">
            <a href="{{ path('customer_orders') }}" class="btn btn-default">Back</a>
        </div>
    </div>

    {% if order.shipments|length > 0 %}
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Shipments</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Address</th>
                            <th>Service</th>
                            <th>Tracking</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shipment in order.shipments %}
                            <tr>
                                <td>
                                    {{ shipment.firstname }} {{ shipment.lastname }}
                                    <br>{{ shipment.street }} {{ shipment.street2 }}
                                    <br>{{ shipment.city }}, {{ shipment.region }} {{ shipment.postcode }}
                                    <br>{{ shipment.countryid }}
                                </td>
                                <td>{{ shipment.company }} {{ shipment.method }} {{ decorate(shipment.price) }}</td>
                                <td>{{ shipment.tracking }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cart Items</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sku</th>
                        <th>Price</th>
                        <th>Qty</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.sku }}</td>
                            <td>{{ decorate(item.price) }}</td>
                            <td>{{ item.qty }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Billing Address</h3>
            </div>
            <div class="panel-body">
                <div>{{ order.billingfirstname }} {{ order.billinglastname }}</div>
                <div>{{ order.billingstreet }}</div>
                <div>{{ order.billingstreet2 }}</div>
                <div>{{ order.billingcity }}, {{ order.billingregion }} {{ order.billingpostcode }}</div>
                <div>{{ order.billingcountryid }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
