{% extends templatePath('Shared:edit.html.twig', 'frontend') %}
{% block header_text %}My Account{% endblock %}
{% block panel_heading %} {% endblock %}
{% block back_link %}
    <a href="{{ renderGridBackUrl('cart_view') }}" class="btn btn-default">Back</a>
{% endblock %}

{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <nav role="navigation" class="navbar-default navbar-static-side ">
                <div class="sidebar-collapse">
                    {{ knp_menu_render(cartMenu('customer_dashboard')) }}
                </div>
            </nav>
        </div>

        {% endblock %}

        {% block content_wrapper %}
        <div class="col-sm-9">
            {% block content %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset(frontendAsset('js/country-region-widget.js')) }}" type="text/javascript"></script>

    <script type="text/javascript">
        var countryRegions = {{ country_regions|json_encode|raw }};
        var countryRegionWidget = new CountryRegionWidget({
            countryRegions: countryRegions
        });
    </script>

    <script type="text/javascript">
        $(function(){

            $('input#customer_profile_is_shipping_same').on('change', function(){
                var chkbox = $(this);
                if (chkbox.is(':checked')) {
                    $('.billing-input').each(function(){
                        var input = $(this);
                        var id = input.attr('id');
                        var shippingId = id.replace('billing', 'shipping');
                        var shippingEl = $('#' + shippingId);
                        if (shippingEl) {
                            shippingEl.val(input.val());
                        }
                    });
                }
            });

        });
    </script>

{% endblock %}
