{% form_theme form_view 'bootstrap_3_layout.html.twig' %}

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_firstname')) }}
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_lastname')) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_company')) }}
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_phone')) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_street')) }}
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_street2')) }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_country_id')) }}
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_region')) }}
    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_city')) }}
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        {{ form_row(form_view.offsetGet('billing_postcode')) }}
    </div>
</div>

{# todo: if email is defined #}
{{ form_row(form_view.offsetGet('is_shipping_same')) }}
